.git_archival.txt export-subst
AGENTS.md export-ignore
CONTRIBUTING.md export-ignore
.gitattributes export-ignore
.gitignore export-ignore
/docs/* export-ignore
/docs/run.md -export-ignore
/docs/accept.md -export-ignore
/docs/images -export-ignore
/docs/images/* export-ignore
/docs/images/gtmc-3d.png -export-ignore
/docs/images/gtmc-mid.png -export-ignore
/tools/* export-ignore
/tools/v04_case_pack.py -export-ignore
/tools/v04_mesh_restart_import.cpp -export-ignore
/tools/v04_pdf_import.cpp -export-ignore
/tools/v04_spray_remap.cpp -export-ignore
/tools/v04_thin_domain_runner.cpp -export-ignore
/tools/hot.sh -export-ignore
/versions/* export-ignore
/versions/v0.4 -export-ignore
/versions/v0.4/tests export-ignore
/cmake/tests export-ignore
/examples/* export-ignore
/examples/g -export-ignore
/examples/cf -export-ignore
/docs/release.md -export-ignore
